{% extends 'base.html' %}

{% block title %}Server Error - Baruch's Treks{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-header bg-danger text-white">
                <h4 class="mb-0">Server Error</h4>
            </div>
            <div class="card-body">
                <div class="alert alert-danger">
                    <h5>We're sorry, but something went wrong.</h5>
                    <p>Our team has been notified and we're working to fix the issue.</p>
                </div>
                
                <p>This error has been logged with a reference ID. If you continue to experience problems, please contact the site administrator with the following information:</p>
                
                <ul>
                    <li>Time: {% now "Y-m-d H:i:s" %}</li>
                    <li>Page: {{ request.path }}</li>
                </ul>
                
                <div class="d-grid gap-2">
                    <a href="{% url 'trips:index' %}" class="btn btn-primary">Return to Home Page</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
